@model MYapplication.Models.Song
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
	<img src="~/Content/Images/edit.png" width="100%"height="260" title="Welcome" />
</div>
<p>.</p>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="container form-horizontal">
		
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.SongId)

		<div class="form-group">
			@Html.LabelFor(model => model.SongName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.SongName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.SongName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Singer, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Singer, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Singer, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

	<button onclick="window.location.href='http://localhost:50953/Home/UserLandingView';">
		Back to List
	</button>